@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital@1&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*CSS of Layout */
.logo {
  height: 10vh;
  width: 18vh;
}

.logo img {
  object-fit: contain;
  width: 115%;
  height: 225%;
  margin-top: -6vh;
  margin-left: -2vh;
}

/* CSS of Home */
.home {
  background-image: url('https://plus.unsplash.com/premium_photo-1679434184867-a294eb85400c?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  height: 90vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.home-msg{
  font-size: 50px;
  color: white;
  font-family: 'EB Garamond', serif;
}

.home-msg text{
  font-family: 'EB Garamond', serif;
}

.home-msg span{
  color: orange;
}

#darkBg{
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  /* flex-direction: column; */
  justify-content: space-evenly;
}

.login{
  height: 50vh;
  padding-top: 9vh;
  background: rgba(0, 0, 0, 0.5);
  width: 20%;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: -89vh;
  text-align: center;
  /* display: none; */
}

.login h2,.signup h2{
  /* padding-top: -5vh; */
  /* margin-top: -110vh; */
  margin-bottom: 6vh;
  color: white;
}

.ip{
  background-color: transparent;
  border: none;
  color: white;
  width: 35vh;
  outline: none;
  border-bottom: 2px solid white;
  padding-left: 3px;
  margin-bottom: 2vh;
  /* border-radius: 10px; */
}

.ip::placeholder{
  color: white;
}

.signup{
  height: 50vh;
  padding-top: 9vh;
  width: 20%;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: -89vh;
  text-align: center;
}

#img img{
  width: 100%;
  height: 100%;
}


.signup .btn,.login .btn{
  background-color: #f55b03 !important;
  outline: none !important;
}

#logOutBtn{
  display: none;
}

#logOutBtn.active{
  display: block;
}

/* #e6b36c */